<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<title><%= name %> demo</title>
</head>
<body>
<section class="content">
<h1 class="content__title"><%= name %></h1>
<h2 class="content__description"><%= description %></h2>
<p>
<a href="http://fnobi.github.io/task-revolver/demo/">http://fnobi.github.io/task-revolver/demo/</a>
</p>
<!-- /.content --></section>
<script src="../TaskRevolver.js"></script>
<script>
<% include ../../js/TaskRevolverDemo.js %>
</script>
</body>
</html>
